/* app/home.css */

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start; /* Logo nach oben */
  min-height: 100dvh;
  background-color: white;
  padding-top: 60px; /* Abstand von oben */
}

.main-logo {
  width: 400px;
  height: auto;
  display: block;
}
